eBay-v3/eBay-SOAPService/WebContent/wsdl/EbayHandle.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions targetNamespace="http://com" xmlns:apachesoap="http://xml.apache.org/xml-soap" xmlns:impl="http://com" xmlns:intf="http://com" xmlns:tns1="http://model" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
<!--WSDL created by Apache Axis version: 1.4
Built on Apr 22, 2006 (06:55:48 PDT)-->
 <wsdl:types>
  <schema elementFormDefault="qualified" targetNamespace="http://com" xmlns="http://www.w3.org/2001/XMLSchema">
   <import namespace="http://model"/>
   <element name="getUserDetails">
    <complexType>
     <sequence>
      <element name="ebayHandle" type="xsd:string"/>
     </sequence>
    </complexType>
   </element>
   <element name="getUserDetailsResponse">
    <complexType>
     <sequence>
      <element name="getUserDetailsReturn" type="tns1:User"/>
     </sequence>
    </complexType>
   </element>
  </schema>
  <schema elementFormDefault="qualified" targetNamespace="http://model" xmlns="http://www.w3.org/2001/XMLSchema">
   <complexType name="User">
    <sequence>
     <element name="address" nillable="true" type="xsd:string"/>
     <element name="bday" nillable="true" type="xsd:string"/>
     <element name="email" nillable="true" type="xsd:string"/>
     <element name="firstname" nillable="true" type="xsd:string"/>
     <element name="last_login" nillable="true" type="xsd:string"/>
     <element name="lastname" nillable="true" type="xsd:string"/>
     <element name="password" nillable="true" type="xsd:string"/>
     <element name="phone" nillable="true" type="xsd:string"/>
     <element name="username" nillable="true" type="xsd:string"/>
    </sequence>
   </complexType>
  </schema>
 </wsdl:types>

   <wsdl:message name="getUserDetailsRequest">

      <wsdl:part element="impl:getUserDetails" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="getUserDetailsResponse">

      <wsdl:part element="impl:getUserDetailsResponse" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:portType name="EbayHandle">

      <wsdl:operation name="getUserDetails">

         <wsdl:input message="impl:getUserDetailsRequest" name="getUserDetailsRequest">

       </wsdl:input>

         <wsdl:output message="impl:getUserDetailsResponse" name="getUserDetailsResponse">

       </wsdl:output>

      </wsdl:operation>

   </wsdl:portType>

   <wsdl:binding name="EbayHandleSoapBinding" type="impl:EbayHandle">

      <wsdlsoap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>

      <wsdl:operation name="getUserDetails">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="getUserDetailsRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="getUserDetailsResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

   </wsdl:binding>

   <wsdl:service name="EbayHandleService">

      <wsdl:port binding="impl:EbayHandleSoapBinding" name="EbayHandle">

         <wsdlsoap:address location="http://localhost:8080/eBay/services/EbayHandle"/>

      </wsdl:port>

   </wsdl:service>

</wsdl:definitions>
