eBay-v3/eBay-SOAPService/WebContent/wsdl/Register.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions targetNamespace="http://com" xmlns:apachesoap="http://xml.apache.org/xml-soap" xmlns:impl="http://com" xmlns:intf="http://com" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
<!--WSDL created by Apache Axis version: 1.4
Built on Apr 22, 2006 (06:55:48 PDT)-->
 <wsdl:types>
  <schema elementFormDefault="qualified" targetNamespace="http://com" xmlns="http://www.w3.org/2001/XMLSchema">
   <element name="registerUser">
    <complexType>
     <sequence>
      <element name="username" type="xsd:string"/>
      <element name="password" type="xsd:string"/>
      <element name="email" type="xsd:string"/>
      <element name="firstName" type="xsd:string"/>
      <element name="lastName" type="xsd:string"/>
     </sequence>
    </complexType>
   </element>
   <element name="registerUserResponse">
    <complexType>
     <sequence>
      <element name="registerUserReturn" type="xsd:int"/>
     </sequence>
    </complexType>
   </element>
  </schema>
 </wsdl:types>

   <wsdl:message name="registerUserResponse">

      <wsdl:part element="impl:registerUserResponse" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="registerUserRequest">

      <wsdl:part element="impl:registerUser" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:portType name="Register">

      <wsdl:operation name="registerUser">

         <wsdl:input message="impl:registerUserRequest" name="registerUserRequest">

       </wsdl:input>

         <wsdl:output message="impl:registerUserResponse" name="registerUserResponse">

       </wsdl:output>

      </wsdl:operation>

   </wsdl:portType>

   <wsdl:binding name="RegisterSoapBinding" type="impl:Register">

      <wsdlsoap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>

      <wsdl:operation name="registerUser">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="registerUserRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="registerUserResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

   </wsdl:binding>

   <wsdl:service name="RegisterService">

      <wsdl:port binding="impl:RegisterSoapBinding" name="Register">

         <wsdlsoap:address location="http://localhost:8080/eBay/services/Register"/>

      </wsdl:port>

   </wsdl:service>

</wsdl:definitions>
